<h3>Il component FIGLIO stampa i numeri pari:</h3>
<div *ngFor="let strnum of arrayEreditato">
    <p *ngIf="arrayEreditato.indexOf(strnum) % 2 != 0">{{strnum}}</p>
    <!--Essendo l'arrayEreditato di tipo stringhe teniamo in considerazione gli indici degli elementi: ad indice dispari corrisponderà un numero pari-->
</div>

<div *ngIf="ricevuto == true">
    <h3>I numeri dispari ricevuti da PADRE sono:</h3>
    <div *ngFor="let num of ricevutoDaChild">
        <p>{{num}}</p>
    </div>
</div>

<app-padre (output)="riceviDaChild($event)"></app-padre>